.sidebarButton {
  display: block;
  margin: 0 auto;
  padding: 11px 33px;
  margin-bottom: 10px;
  background: #a38ffd;
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: #ffffff;

    color: #454868;
  }
}
