.sectionMain {
    box-sizing: border-box;
    margin-top: 19px;
    margin-left: 92px;
    margin-bottom: 50px;
    width: 992px;
    padding: 0 21px;
    h1 {
    margin-left: 0;
    h1 {
        margin-bottom: 32px;

        font-size: 26px;
        line-height: 31px;
        font-weight: 600;
        color: #222222;
    }
    }
}

.logo {
    margin-right: 20px;
}

.info {
    width: 550px;
    height: 100px;
    margin-bottom: 40px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .name {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #222222;
        margin-bottom: 10px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        line-break: anywhere;
        max-width: 325px;
    }
}

.test {
    width: 640px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;

    &:hover {
        border-color: #a38ffd;
        box-shadow: 1px 1px 9px 0px rgba(146, 154, 159, 0.17);
    }

    .container {
        width: 620px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
    }

    .logo {
        width: 60px;
        height: 60px;
        border: 1px solid #BCBCC3;
        border-radius: 10px;
        margin-right: 20px;
        background-image: url('./img/test-logo-icon.svg');
    }

    .content {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 50px;
    }

    .about {
        width: 395px;
    }

    .testName {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4485ED;

        &:hover {
            text-decoration: underline;
        }
    }

    svg {
        margin-left: 50px;
        width: 20px;
        height: 23px;
        fill: #999999;

        &:hover {
            fill: black;
        }

    }
}


