.resultList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  gap: 5px;
  max-height: 225px;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #010851;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a38ffd;
  }
}
