.profileNavigation {
  position: sticky;
  top: 60px;
  box-sizing: border-box;
  width: 238px;
  height: 238px;
  margin: 19px 0 0 40px;

  border: 1px solid rgba(69, 72, 104, 0.2);
  border-radius: 10px;

  color: #454868;

  ul {
    margin: 20px 30px;
  }

  li {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;

    &:nth-child(1) > a::before {
      background-image: url(./img/profile-icon.svg);
    }

    &:nth-child(2) > a::before {
      background-image: url(./img/test-icon.svg);
    }

    &:nth-child(3) > a::before {
      background-image: url(./img/my-tests-icon.svg);
    }

    &:nth-child(4) > a::before {
      background-image: url(./img/favorite-icon.svg);
    }

    &:nth-child(5) > a::before {
      background-image: url(./img/settings-icon.svg);
    }
  }

  a {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #454868;

    transition: all 0.2s ease-in-out;

    &:hover {
      color: #a38ffd;

      &::before {
        background-color: #a38ffd;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;

      background-color: #454868;
      background-position: center;
      background-repeat: no-repeat;

      transition: all 0.2s ease-in-out;
    }
  }
}

.activeLink {
  color: #a38ffd !important;

  &::before {
    background-color: #a38ffd !important;
  }
}
