.resultContent {
  box-sizing: border-box;
  width: 992px;
  
  h1 {
    width: 640px;
    height: 61px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 90px;
    color: #454868;
  }

  .resultContainer {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  p {
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 15px;
  }

  span {
    color: #A38FFD;
  }
}

.controls {
  margin-bottom: 60px;
  display: flex;

  button {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
  }


  .feedback {
    padding: 9px 34px;
    border: 2px solid #A38FFD;
    background: #A38FFD;
    color: #FFFFFF;
    margin-right: 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    &:hover {
      background: #FFFFFF;
      border: 2px solid #A38FFD;

      color: #A38FFD;

      &::after {
        border: solid 1px #A38FFD;
        border-width: 0 2px 2px 0;
      }
    }
  }

  .catalog {
    padding: 9px 34px;
    border: 2px solid #A38FFD;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    color: #A38FFD;

    &:hover {
      background: #A38FFD;
      border: 2px solid #A38FFD;
      color: #ffffff;

      &::after {
        border: solid 1px #A38FFD;
        border-width: 0 2px 2px 0;
      }
    }
  }
}

.progressBar {
  width: 200px;
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    text-align: center;

  }

  .container {
    display: flex;
    width: 200px;
    padding: 13px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .circularProgress {
    position: relative;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background: conic-gradient(#A38FFD 3.6deg, #ffffff 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circularProgress::before {
    content: "";
    position: absolute;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #fff;
  }

  .progressValue {
    position: relative;
    font-size: 50px;
    font-weight: 800;
    color: #A38FFD;
  }
}
