.answersArea {
  legend {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }

  p {
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
  }
}
