.main {
  display: block;
  width: 1300px;
  margin: 0 auto;
}

/* .button_inversed::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url(/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.2s ease-out;
}

.button_inversed:hover {
  border: 2px solid #8C7BD8;
  color: #8C7BD8;
}

.button_inversed:hover::before {
  opacity: 0;
}

.button_inversed:hover::before {
  opacity: 1;
  background-image: url(/violet-heart.svg);
} */

/* .show-btn::after {
  content: url(/union.svg);
} */