
.pageMain {
    width: 1300px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    h1 {
        margin-bottom: 32px;

        font-size: 26px;
        line-height: 31px;
        font-weight: 600;
        color: #222222;
    }
}

.listControls {
    width: 640px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createTestLink {
    display: inline-block;
    padding: 6px 29px;
    cursor: pointer;

    text-align: center;

    background: #A38FFD;
    border: 2px solid #A38FFD;
    border-radius: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    transition: all 0.2s ease-in-out;

    &:hover {
        background: #FFFFFF;
        border: 2px solid #A38FFD;
        color: #A38FFD;
    }
}

.sectionMain {
    box-sizing: border-box;
    margin-top: 19px;
    margin-left: 92px;
    margin-bottom: 50px;
    width: 992px;
    padding: 0 21px;
    h1 {
    margin-left: 0;
    h1 {
        margin-bottom: 32px;

        font-size: 26px;
        line-height: 31px;
        font-weight: 600;
        color: #222222;
    }
    }
}
.controls {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    button {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 5px;
        color: #282B41;
    }

    svg {
        margin-left: 7px;
    }
}

.button {
    padding: 5px 11px;
    border: 2px solid #282B41;
    font-weight: 400;
    font-size: 14px;
    
    -webkit-transition: color 0, 5s;
    -moz-transition: color 0, 5s;
    -ms-transition: color 0, 5s;
    -o-transition: color 0, 5s;
    transition: color 0, 5s;

    &:hover {
        background: #282B41;
        border: 2px solid #282B41;

        color: #FFFFFF;

        &::after {
            border: solid 1px #282B41 4s;
            border-width: 0 2px 2px 0;
        }
    }
}