@charset "UTF-8";
/* Общие стили */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Jost";
  src: local("Jost"), url("./fonts/Jost/Jost-Medium.ttf") format("truetype");
  font-weight: medium;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #FFFFFF;
}

a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

/* Стили шапки и подвала */
.page-header {
  min-width: 1366px;
}

.header-content {
  width: 1300px;
  margin: 0 auto;
  padding: 40px 33px;
  display: flex;
  align-items: center;
}

.header-content a {
  line-height: 41px;
}

.header-content .main-menu a:hover {
  -webkit-text-decoration: underline rgba(69, 72, 104, 0.2) 1px;
  text-decoration: underline rgba(69, 72, 104, 0.2) 1px;
  text-underline-offset: 8px;
}

.logo {
  margin-right: 120px;
  display: flex;
  align-items: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
}

.logo img {
  margin-right: 13px;
}

.main-menu {
  display: flex;
  letter-spacing: 0.05em;
}

.main-menu li {
  margin-right: 50px;
}

.main-menu li:last-child {
  margin-right: 0;
}

.locale-button {
  margin-left: auto;
  margin-right: 40px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.locale-button::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background: url("img/locale.svg") center no-repeat;
}

.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  height: 37px;
}
.small-button .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #BCBCC3;
  border-radius: 10px;
}
.small-button .svg {
  width: 5px;
  height: 5px;
}
.small-button a {
  margin-left: 10px;
  width: 132px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #454868;
}

.contrast-button {
  width: 188px;
  height: 48px;
  padding: auto 41px;
  margin-right: 15px;
  background-color: #a38ffd;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.contrast-button:hover {
  background-color: #fff;
  border: 2px solid #a38ffd;
  color: #a38ffd;
}

.contrast-button.inversed-button {
  background-color: #fff;
  border: 2px solid #a38ffd;
  color: #a38ffd;
}

.contrast-button.inversed-button:hover {
  background-color: #a38ffd;
  border: none;
  color: #fff;
}

.page-footer {
  min-width: 1366px;
  padding: 41px 36px 41px 0;
  background-color: #010851;
}

.footer-content {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}

.footer-content a {
  color: #fff;
}

.footer-content .logo {
  margin-bottom: 35px;
}

.footer-content .main-menu {
  padding-top: 13px;
}

.footer-content .main-menu a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.copyright {
  font-size: 16px;
  line-height: 24px;
}

.copyright p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.subscribe-block {
  width: 464px;
  height: 108px;
  margin-left: auto;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.subscribe-block p {
  margin-bottom: 24px;
}

.subscribe-form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.subscribe-form input {
  box-sizing: border-box;
  width: 270px;
  height: 62px;
  padding-left: 23px;
  background: none;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #fff;
}

.subscribe-form input:focus {
  border: none;
}

.subscribe-form input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}

.subscribe-form input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}

.subscribe-form button {
  box-sizing: border-box;
  width: 185px;
  height: 62px;
  padding: auto 41px;
  background-color: #a38ffd;
  border-radius: 10px;
  color: #fff;
}

.subscribe-form button:hover {
  background-color: #fff;
  border: 2px solid #a38ffd;
  color: #a38ffd;
}

/* Стили страницы */
.page-main {
  width: 1300px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.profile_navigation {
  box-sizing: border-box;
  width: 238px;
  height: 200px;
  margin: 19px 0 0 40px;
  border: 1px solid rgba(69, 72, 104, 0.2);
  border-radius: 10px;
  color: #454868;
}
.profile_navigation ol {
  margin: 20px 30px;
}
.profile_navigation li {
  display: flex;
  align-items: center;
  height: 40px;
}
.profile_navigation a {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  line-height: 17px;
  color: #454868;
}
.profile_navigation a:hover {
  color: #A38FFD;
}

.content-form {
  box-sizing: border-box;
  margin-top: 19px;
  margin-left: 92px;
  margin-bottom: 50px;
  width: 992px;
  padding: 0 21px;
}
.content-form h1 {
  color: #454868;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.info {
  width: 550px;
  height: 100px;
  margin-bottom: 40px;
}
.info .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info .logo {
  width: 99px;
  height: 99px;
  border: 1px solid #BCBCC3;
  border-radius: 10px;
  margin-right: 20px;
}
.info img {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.info .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 10px;
}
.info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  line-break: anywhere;
  max-width: 325px;
}

.test {
  width: 640px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}
.test:hover {
  border-color: #a38ffd;
  box-shadow: 1px 1px 9px 0px rgba(146, 154, 159, 0.17);
}
.test .container {
  width: 620px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
.test .logo {
  width: 60px;
  height: 60px;
  border: 1px solid #BCBCC3;
  border-radius: 10px;
  margin-right: 20px;
}
.test img {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.test .content {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 50px;
}
.test .about {
  width: 395px;
}
.test .testName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.test a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4485ED;
}
.test a:hover {
  text-decoration: underline;
}
.test svg {
  margin-left: 50px;
  width: 20px;
  height: 23px;
  fill: #999999;
}
.test svg:hover {
  fill: black;
}

.controls {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.controls button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 5px;
  color: #282B41;
}
.controls svg {
  margin-left: 10px;
}

.create-button {
  padding: 9px 34px;
  border: 2px solid #282B41;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: color 0, 5s;
  -moz-transition: color 0, 5s;
  -ms-transition: color 0, 5s;
  -o-transition: color 0, 5s;
  transition: color 0, 5s;
}
.create-button:hover {
  background: #282B41;
  border: 2px solid #282B41;
  color: #FFFFFF;
}
.create-button:hover::after {
  border: solid 1px #282B41 4s;
  border-width: 0 2px 2px 0;
}/*# sourceMappingURL=profile_page.css.map */