.pageMain {
  width: 1300px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  .passChange {
    width: 300px;
    height: 300px;
  }

  hr {
    width: 640px;
    margin-left: 0;
    margin-bottom: 30px;
    color: rgba(69, 72, 104, 0.2);
  }
}

