@import "reset.scss";

$color-base: #454868;
$color-light: #FFFFFF;
$color-header: #010851;
$color-span: #A38FFD;
$color-light-transparent: rgba(255, 255, 255, 0.5);

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $color-base;

  background-color: #FFFFFF;

  a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-base;
  }

  button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-base;
  }
}

.page-header {
  min-width: 1366px;
}

.header-content {
  width: 1300px;
  margin: 0 auto;
  padding: 40px 33px;

  display: flex;
  align-items: center;

  a {
    line-height: 41px;
  }

  .main-menu {
    a {
      &:hover {
        text-decoration: underline rgba(69, 72, 104, 0.2) 1px;
        text-underline-offset: 8px;
      }
    }
  }
}

.logo {
  margin-right: 120px;

  display: flex;
  align-items: center;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;

  img {
    margin-right: 13px;
  }
}

.main-menu {
  display: flex;

  letter-spacing: 0.05em;

  li {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.locale-button {
  margin-left: auto;
  margin-right: 40px;
  line-height: 41px;

  font-weight: 400;
  letter-spacing: 0.05em;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background: url("img/locale.svg") center no-repeat;
  }
}

.small-button {
  height: 35px;
  padding: 9px 35px;

  border: 1px solid rgba(69, 72, 104, 0.2);
  border-radius: 15px;

  line-height: 15px;
  letter-spacing: 0.05em;

  &:hover {
    background: $color-base;

    color: $color-light;
  }
}

.contrast-button {
  width: 188px;
  height: 48px;
  padding: auto 41px;
  margin-right: 15px;

  background-color: $color-span;
  border-radius: 15px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-light;

  &:hover {
    background-color: $color-light;
    border: 2px solid $color-span;

    color: $color-span;
  }

  &.inversed-button {
    background-color: $color-light;
    border: 2px solid $color-span;

    color: $color-span;

    &:hover {
      background-color: $color-span;
      border: none;

      color: $color-light;
    }
  }
}

.page-main {
  min-width: 1366px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $color-header;
}

.hero-section {
  width: 1300px;
  height: 800px;
  margin: 0 auto;
  margin-bottom: 136px;
  background: url("img/hero-1.png") right center no-repeat;
}

.hero-content {
  width: 805px;
  padding-top: 160px;

  p {
    margin-bottom: 30px;

    line-height: 32px;
  }

  h1 {
    margin-bottom: 30px;
  }
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: $color-header;

  span {
    color: $color-span;
  }
}

.advantages-section {
  width: 1300px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 136px;

  display: flex;
  justify-content: space-between;
}

.advantages-text-block {
  width: 245px;

  h2 {
    margin-bottom: 26px;
  }
}

.advantages-card {
  width: 280px;
  box-shadow: 0px 10px 50px rgba(27, 0, 150, 0.09);
  border-radius: 48px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: $color-header;

  p {
    margin-top: 35px;
  }

  &:nth-child(2) {
    height: 411px;

    p {
      width: 175px;
    }

    &::before {
      content: "";
      display: block;
      width: 162px;
      height: 193px;
      background: url("img/advantages-1.png") center no-repeat;
    }
  }

  &:nth-child(3) {
    height: 356px;
    align-self: flex-end;

    p {
      width: 166px;
    }

    &::before {
      content: "";
      display: block;
      width: 256px;
      height: 138px;
      background: url("img/advantages-2.png") center no-repeat;
    }
  }

  &:nth-child(4) {
    height: 313px;

    p {
      width: 176px;
    }

    &::before {
      content: "";
      display: block;
      width: 176px;
      height: 126px;
      background: url("img/advantages-3.png") center no-repeat;
    }
  }
}

.user-profile-section {
  background: #FAF9FF;
  height: 1408px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-profile-block {
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    height: 520px;

    &::before {
      content: "";
      display: block;
      width: 688px;
      height: 525px;
      margin-right: 42px;
      background: url("img/user-profile-1.png") center no-repeat;
    }
  }

  &:last-child {
    height: 440px;

    flex-direction: row-reverse;

    &::before {
      content: "";
      display: block;
      width: 600px;
      height: 410px;
      margin-left: 80px;
      background: url("img/user-profile-2.png") center no-repeat;
    }
  }
}

.user-profile-block-content {
  width: 530px;

  h2, p {
    margin-bottom: 38px;
  }
}

.contact-us-section {
  width: 1300px;
  height: 800px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: url("img/contact-us-1.png") right 75px center no-repeat;
}

.contact-us-content {
  width: 640px;

  h2 {
    margin-bottom: 52px;

    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
}

#contact-us-textarea {
  width: 640px;
  height: 300px;
  box-sizing: border-box;
  padding: 19px 27px;
  margin-bottom: 50px;
  border: 1px solid rgba(69, 72, 104, 0.4);
  border-radius: 15px;
  resize: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-base;

  &:focus {
    border: 1px solid $color-header;
  }

  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(69, 72, 104, 0.4);
  }
}

.contact-us-form {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
}

.mail-link {
  position: relative;
  bottom: 30px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $color-header;
}

.page-footer {
  min-width: 1366px;
  padding: 41px 36px 41px 0;

  background-color: $color-header;
}

.footer-content {
  width: 1300px;
  margin: 0 auto;

  display: flex;
  
  color: $color-light-transparent;

  a {
    color: $color-light;
  }

  .logo {
    margin-bottom: 35px;
  }

  .main-menu {
    padding-top: 13px;

    a {
      &:hover {
        color: $color-light-transparent;
      }
    }
  }
}

.copyright {
  font-size: 16px;
  line-height: 24px;

  p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
}

.subscribe-block {
  width: 464px;
  height: 108px;
  margin-left: auto;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;

  p {
    margin-bottom: 24px;
  }
}

.subscribe-form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;

  input {
    box-sizing: border-box;
    width: 270px;
    height: 62px;
    padding-left: 23px;
    background: none;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: $color-light;

    &:focus {
      border: none;
    }

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: $color-light-transparent;
    }
  }

  button {
    box-sizing: border-box;
    width: 185px;
    height: 62px;
    padding: auto 41px;
  
    background-color: $color-span;
    border-radius: 10px;

    color: $color-light;

    &:hover {
      background-color: $color-light;
      border: 2px solid $color-span;
  
      color: $color-span;
    }
  }
}
