main {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinnerAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.spinnerAnimation div {
    position: absolute;
    width: 130.54000000000002px;
    height: 130.54000000000002px;
    border: 27.82px solid #a38ffd;
    border-top-color: transparent;
    border-radius: 50%;
}

.spinnerAnimation div {
    animation: spinnerAnimation 1.408450704225352s linear infinite;
    top: 107px;
    left: 107px
}

.loadingSpinner {
    width: 214px;
    height: 214px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.spinnerAnimation {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.spinnerAnimation div {
    box-sizing: content-box;
}