.resultContent {
  box-sizing: border-box;
  width: 992px;

  h1 {
    width: 640px;
    height: 61px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 90px;
    color: #454868;
  }

  .resultContainer {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  p {
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 15px;
  }

  span {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #a38ffd;
  }
}

.controls {
  margin-bottom: 60px;
  display: flex;

  a {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
  }

  .catalog {
    padding: 9px 34px;
    border: 2px solid #a38ffd;
    background: #a38ffd;
    color: #ffffff;
    margin-right: 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    &:hover {
      background: #ffffff;
      border: 2px solid #a38ffd;

      color: #a38ffd;

      &::after {
        border: solid 1px #a38ffd;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
