.submitTestButton {
  display: block;
  margin: 0 auto;
  padding: 11px 33px;
  background: #A38FFD;
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #FFFFFF;

    color: #454868;
  }
}
