$color-light: #FFFFFF;
$color-span: #A38FFD;

.contrastButton {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $color-span;
  min-width: 188px;
  height: 48px;
  padding: 13px 38px;
  margin-right: 15px;
  cursor: pointer;
  
  text-align: center;

  background-color: $color-span;
  border-radius: 15px;

  transition: 
    color 0.2s ease-out,
    background-color 0.2s ease-out;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-light;

  &:hover {
    background-color: $color-light;
    border: 2px solid $color-span;

    color: $color-span;
  }

  &.inversed {
    background-color: $color-light;
    border: 2px solid $color-span;

    color: $color-span;

    &:hover {
      background-color: $color-span;
      border: 2px solid $color-span;

      color: $color-light;
    }
  }
}
