.reviewBlock {
  display: flex;
  margin-bottom: 24px;

  textarea {
    resize: none;

    margin-left: 10px;
    padding: 7px 10px;
    width: 932px;
    height: 90px;

    border: 1px solid #cccccc;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #a5a5a5;
    }
  }
}

.submitButton {
  box-sizing: border-box;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;

  padding: 9px 34px;
  border: 2px solid #a38ffd;
  background: #a38ffd;
  color: #ffffff;
  margin-right: 20px;
  margin-bottom: 23px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    background: #ffffff;
    border: 2px solid #a38ffd;

    color: #a38ffd;

    &::after {
      border: solid 1px #a38ffd;
      border-width: 0 2px 2px 0;
    }
  }
}

// .feedbackStars {
//   opacity: 50%;
//   position: relative;
//   right: 142.37px;
// }
