.reviewBlock {
  display: flex;
  margin-bottom: 24px;

  textarea {
    resize: none;

    margin-left: 10px;
    padding: 7px 10px;
    width: 932px;
    height: 90px;

    border: 1px solid #cccccc;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #a5a5a5;
    }
  }
}

.submitButton {
  margin-right: 20px;
  margin-bottom: 23px;
}

// .feedbackStars {
//   opacity: 50%;
//   position: relative;
//   right: 142.37px;
// }
