.testTile {
  box-sizing: border-box;
  width: 640px;
  height: 100px;
  margin-bottom: 15px;
  padding: 20px;

  display: grid;
  grid-template-columns: 60px 1fr 15px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo title button"
    "logo controls controls";
  column-gap: 20px;
  
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: #a38ffd;
    box-shadow: 1px 1px 9px 0px rgba(146, 154, 159, 0.17);
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}

.buttonMore {
  position: relative;
  bottom: 13px;
  left: 17px;
  grid-area: button;

  color: #A5A5A5;

  transform: rotate(90deg) scale(1.15);

  transition: all 0.2s ease-in-out;

  &:hover {
    color: #000000;
  }
}

.titleWrapper {
  grid-area: title;
  display: flex;
}

.logo {
  padding: 0;

  grid-area: logo;
}
