.button {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #A38FFD;
  width: 300px;
  height: 48px;
  padding: 13px 38px;
  cursor: pointer;
  text-align: center;
  background-color: #A38FFD;
  border-radius: 15px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border 0.2s ease-out;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.button:hover {
  background-color: #FFFFFF;
  border: 2px solid #A38FFD;
  color: #A38FFD;
}

.button_inversed {
  position: relative;
  background-color: #FFFFFF;
  border: 2px solid #A38FFD;
  color: #A38FFD;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button_inversed:hover .heart {
  fill: #8C7BD8;
  transition: fill 0.2s ease-in-out;
}

.button_inversed:hover {
  border: 2px solid #8C7BD8;
  color: #8C7BD8;
}

/* .button_inversed::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url(/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.2s ease-out;
}

.button_inversed:hover {
  border: 2px solid #8C7BD8;
  color: #8C7BD8;
}

.button_inversed:hover::before {
  opacity: 0;
}

.button_inversed:hover::before {
  opacity: 1;
  background-image: url(/violet-heart.svg);
} */