@import url(buttons.css);

*,
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: block;
  width: 1300px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 500px 40px 150px;
  background: #282B41;
  border-radius: 10px;
}

.title__test-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 1em;
  color: #FFFFFF;
}

.title__test-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.6px;
}

.stars {
  display: inline-flex;
  flex-direction: row;
  gap: 3.6px;
}

.rating {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.feedback {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.feedback__count {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4485ED;
  text-decoration: underline;
}

.feedback__count:hover {
  color: #1466C6;
}

.feedback__users {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  padding: 40px 150px 59px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.information__title {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.full-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.author-content {
  display: flex;
  gap: 15px
}

.author-content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  border: 1px solid #BCBCC3;
  border-radius: 10px;
  overflow: hidden;
}

.author-content__img img {
  width: 100%;
  height: 100%;
}

.author__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.author__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.review-rating__count {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #222222;
}

.review-rating {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 40px;
}

.review-rating__stars {
  display: flex;
  flex-direction: row;
  gap: 4.5px;
}

.review-rating__users {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #222222;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  padding: 20px 0;
}

.review__stars {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.review__info {
  display: flex;
  gap: 20px;
}

.name {
  color: #4485ED;
}

.name:hover {
  color: #1466C6;
  text-decoration: underline;
}

.show-btn {
  display: flex;
  gap: 8px;
  padding: 7px 10px 8px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #282B41;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282B41;
  background-color: transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
}

.show-btn path {
  transition: fill 0.2s ease-out;
}

.show-btn:hover {
  color: #FFFFFF;
  background-color: #282B41;
}

.show-btn:hover svg path {
  fill: #FFFFFF;
}

/* .show-btn::after {
  content: url(/union.svg);
} */