.sign-up-html {
    overflow-y: hidden;
}

.sign-up-window {
    width: 450px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sign-links {
    margin-left: 31px;
    margin-top: 26px;
    margin-bottom: 5px;
    display: flex;
    gap: 22px;
}

.sign-links a {
    color: #4C8AEE;
}

.sign-selected {
    color: #000000;
    margin: 0;
    display: inline-block;
}

.select-line {
    margin-bottom: 40px;
}

.sign-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-form {
    display: flex;
    flex-direction: column;
    width: 292px;
}

.sign-form-input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 12px;
    border: 0;
    outline: 1px solid #A5A5A5;
    z-index: 0;
}

.first-sign-form {
    border-radius: 5px 5px 0 0;
}

.last-sign-form {
    border-radius: 0 0 5px 5px;
}

.sign-form-input:focus {
    outline: 1px solid #92C8F7;
    z-index: 1;
}

.sign-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: linear-gradient(161.42deg, #6EE8FC 5.47%, #6AE2FB 21.27%, #5ED1F7 42.01%, #4BB5F1 65.72%, #308EE8 91.39%, #267FE5 100.28%);
    border-radius: 5px;
    height: 42px;
    padding: 0;
}

.sign-button:hover {
    border-radius: 5px;
    border: 3px solid;
    border-image: linear-gradient(161.42deg, #6EE8FC 5.47%, #6AE2FB 21.27%, #5ED1F7 42.01%, #4BB5F1 65.72%, #308EE8 91.39%, #267FE5 100.28%);
    border-image-slice: 1;
    background: linear-gradient(161.42deg, #6EE8FC 5.47%, #6AE2FB 21.27%, #5ED1F7 42.01%, #4BB5F1 65.72%, #308EE8 91.39%, #267FE5 100.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign-up {
   margin-top: 5px;
   margin-bottom: 70px;
}

.sign-in{
    margin-top: 5px;
    margin-bottom: 31px;
}

.errorlist {
    color: red;
    padding: 0;
    font-size: 14px;
    list-style-type: disc;
    list-style-position: inside
}

.reset-password {
    font-size: 13px;
    line-height: 16px;
    color: #4C8AEE;
    margin-bottom: 36px;
}

.reset-email-input {
    border-radius: 5px;
    margin-bottom: 5px;
}

.reset-line {
    margin-top: 10px;
}

.reset-password-title {
    color: #000000;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 21px;
}

.reset-password-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #777777;
    width: 303px;
    margin: 0 0 19px;
}

.reset-button {
    margin-bottom: 30px;
}

.change-password-button {
    margin-top: 5px;
    margin-bottom: 30px;
}

.change-password-title {
    color: #000000;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 21px 0;
}

.user-message {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin: 15px 0;
}

.user-window-title {
    margin-top: 15px;
}