.questionArea {
  display: flex;
  gap: 25px;

  textarea {
    box-sizing: border-box;
    width: 678px;
    min-height: 33px;
    height: 33px;
    resize: vertical;
    padding: 7px 10px;

    border: 1px solid #cccccc;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #a5a5a5;
    }
  }

  .imageInput {
    display: block;
    color: var(--color-light-grey);
    height: 33px;
    width: 33px;
    cursor: pointer;
    transition: color 200ms ease-in-out;

    input[type='file'] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }

    &:is(:hover, :active) {
      color: var(--color-primary);
    }
  }
}
