.logo {
  margin-right: 120px;

  display: flex;
  align-items: center;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;

  svg {
    margin-right: 13px;
  }
}
