{% load static %}

{% block add_style %}
    <link type="text/css" href="{% static 'users/css/users_styles.css' %}" rel="stylesheet">
{% endblock %}

<div class="hystmodal" id="modalLogin" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div id="sign-form-window" class="hystmodal__window" role="dialog" aria-modal="true">
          <button data-hystclose class="hystmodal__close">Закрыть</button>
            <div class="sign-form-wrapper">
                <div class="sign-form-tabs">
                    <ul class="sign-form-tab-list">
                        <li>
                            <button id="sign-in-switch" data-tabswitch="signIn" class="active">Войти</button>
                        </li>
                        <li>
                            <button id="sign-up-switch" data-tabswitch="signUp">Регистрация</button>
                        </li>
                        <li>
                            <h2 id="reset-header" class="reset-password-title">Забыли свой пароль?</h2>
                        </li>
                    </ul>
                    <div class="tabs-content">
                        <div id="sign-in-tab" class="sign-form-tab active">
                            <img src="{% static 'users/images/sign_in_select_line.svg' %}" alt="select line" class="select-line">
                            <form method="post" class="sign-form">
                                {% csrf_token %}  <!-- Защита формы от csrf-атак -->
                                {% for field in form %}
                                    {{ field }}
                                {% endfor %}
                                {{ form.non_field_errors }}
                                <button type="submit" class="sign-button sign-in">Войти</button>
                            </form>
                            <button id="reset-switch" class="reset-password">Забыли пароль?</button>
                        </div>
                        {% include 'users/sign_up.html' %}
                        <div id="reset-tab" class="sign-form-tab">
                            <img src="{% static 'users/images/sign_reset_select_line.svg' %}" alt="select line" class="select-line reset-line">
                            <p class="reset-password-text">Введите свой e-mail адрес, и мы отправим вам письмо со ссылкой для сброса пароля</p>
                            <form method="post" class="sign-form">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="sign-button reset-button">Сбросить пароль</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'users/js/modal_window.js' %}"></script>

