{% load static %}

{% block add_style %}
    <link type="text/css" href="{% static 'users/css/users_styles.css' %}" rel="stylesheet">
{% endblock %}

<div class="hystmodal" id="modalLogin" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
          <button data-hystclose class="hystmodal__close">Закрыть</button>
            <div class="sign-form-wrapper">
                <header class="sign-links">
                    <a href="{% url 'sign_in' %}" class="sign-in-link">Войти</a>
                    <p class="sign-selected">Регистрация</p>
                </header>
                <img src="{% static 'users/images/sign_up_select_line.svg' %}" alt="select line" class="select-line">
                <form method="post" class="sign-form">
                    {% csrf_token %}  <!-- Защита формы от csrf-атак -->
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}}
                    <button type="submit" class="sign-button sign-up">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</div>


