{% extends 'users\users_window.html' %}

{% block user_content %}
    <h1 class="change-password-title">Изменение пароля</h1>
    <p class="reset-password-text">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды.</p>
    <form action="{% url 'password_change' %}" method="post" class="sign-form">
        {% csrf_token %}
        {{ form.old_password }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        {{ form.old_password.errors }}
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
        <button type="submit" class="sign-button change-password-button">Изменить пароль</button>
    </form>
{% endblock %}