{% extends 'users\sign_base.html' %}
{% load static %}

{% block form %}
    <div class="sign-form-wrapper">
        <img src="{% static 'users/images/sign_reset_select_line.svg' %}" alt="select line" class="select-line reset-line">
        <h1 class="reset-password-title">Забыли свой пароль?</h1>
        <p class="reset-password-text">Введите свой e-mail адрес, и мы отправим вам письмо со ссылкой для сброса пароля</p>
        <form method="post" class="sign-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="sign-button reset-button">Сбросить пароль</button>
        </form>
    </div>
{% endblock %}