{% extends 'users\base.html' %}
{% load static %}

{% block add_style %}
    <link type="text/css" href="{% static 'users/css/users_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <html class="sign-up-html" lang="ru">
        <div class="sign-up-window">
            <div class="sign-links">
                {% if selected == 'sign-in' %}
                    <p class="sign-selected">Войти</p>
                    <a href="{% url 'sign_up' %}" class="sign-up-link">Регистрация</a>
                {% elif selected == 'sign-up'%}
                    <a href="{% url 'sign_in' %}" class="sign-in-link">Войти</a>
                    <p class="sign-selected">Регистрация</p>
                {% else %}
                    <a href="{% url 'sign_in' %}" class="sign-in-link">Войти</a>
                    <a href="{% url 'sign_up' %}" class="sign-up-link">Регистрация</a>>
                {% endif %}
            </div>
            {% block form %}
            {% endblock %}
        </div>
    </html>
{% endblock %}