{% extends 'users\sign_base.html' %}
{% load static %}


{% block form %}
    <div class="sign-form-wrapper">
        <img src="{% static 'users/images/sign_in_select_line.svg' %}" alt="select line" class="select-line">
        <form method="post" class="sign-form">
            {% csrf_token %}  <!-- Защита формы от csrf-атак -->
            {% for field in form %}
                {{ field }}
            {% endfor %}
            {{ form.non_field_errors }}
            <button type="submit" class="sign-button sign-in">Войти</button>
        </form>
        <a href="{% url 'password_reset' %}" class="reset-password">Забыли пароль?</a>
    <div>
{% endblock %}