.page-main {
  width: 1300px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.question-list-section {  
  box-sizing: border-box;
  width: 238px;
  height: fit-content;

  padding: 21px 18px;

  background-color: #454868;
  border-radius: 10px;

  color: #FFFFFF;

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  ol {
    margin: 21px 0;
  }

  li {
    list-style: decimal inside;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 11px 33px;
    background: #A38FFD;
    border-radius: 10px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    &:hover {
      background: #FFFFFF;

      color: #454868;
    }
  }
}

.question-form {
  box-sizing: border-box;
  width: 992px;
  padding: 0 21px;
}

.question-area {
  margin-bottom: 26px;

  label {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 160px;
    resize: vertical;
    padding: 7px 10px;

    border: 1px solid #CCCCCC;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #A5A5A5;
    }
  }
}

.answers-area {

  legend {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }

  p {
    font-size: 14px;
    line-height: 17px;
    color: #A5A5A5;
  }

  li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 75px;
    margin: 12px 0;
    padding-right: 12px;

    border: 1px solid #A5A5A5;
    border-radius: 5px;
  }

  label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;

    &::after {
      content: '';
      height: 17px;
      width: 17px;
      display: block;
      background: url('./img/cross.svg') center no-repeat;
      margin-left: auto;
    }
  }

  input[type='radio'] {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-left: 40px;
  }

  input[type='text'] {
    box-sizing: border-box;
    height: 42px;
    min-width: 170px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 7px 10px;

    border: 1px solid #CCCCCC;
    border-radius: 5px;

    transition: all 1s ease-out;

    &:focus {
      min-width: 780px;
    }

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #A5A5A5;
    }
  }
}

.controls {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    box-sizing: border-box;
    background: #A38FFD;
    border-radius: 5px;
    color: #FFFFFF;
  }
}

.plus-button {
  padding: 12px 25px;
  font-family: serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 19px;

  &:hover {
    background: #8C7BD8;
  }
}

.save-button {
  padding: 9px 34px;
  border: 2px solid #A38FFD;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    background: #FFFFFF;
    border: 2px solid #A38FFD;

    color: #A38FFD;

    &::after {
      border: solid 1px #A38FFD;
      border-width: 0 2px 2px 0;
    }
  }

  &::after {
    content: '';
    position: relative;
    top: 7px;
    left: 5px;
    border: solid 1px #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: scale(1.35) rotate(-45deg);
  }
}
