.reviewList {
  width: 650px;
}

.showBtn {
  display: flex;
  gap: 8px;
  padding: 7px 10px 8px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #282B41;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282B41;
  background-color: transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
}

.showBtn path {
  transition: fill 0.2s ease-out;
}

.showBtn:hover {
  color: #FFFFFF;
  background-color: #282B41;
}

.showBtn:hover svg path {
  fill: #FFFFFF;
}
