.innerStyle {
  display: block;

  transition:
    background-color 200ms ease-in-out,
    border-color 200ms ease-in-out,
    color 200ms ease-in-out,
    transform 50ms;

  &:disabled {
    cursor: default;
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.normal {
  box-sizing: border-box;
  border-radius: 5px;

  padding: 9px 34px;
  border: 2px solid var(--color-primary);

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  background-color: var(--color-primary);
  color: var(--color-background);

  &:disabled {
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
  }

  &:is(:hover, :active):not(:disabled) {
    background-color: var(--color-background);

    color: var(--color-primary);
  }
}

.rounded {
  width: 300px;
  height: 48px;
  padding: 13px 38px;
  text-align: center;

  box-sizing: border-box;
  border-radius: 15px;

  padding: 0px 18px;
  border: 2px solid var(--color-primary);

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  background-color: var(--color-primary);
  color: var(--color-background);

  &:hover,
  &:active {
    background-color: var(--color-background);

    color: var(--color-primary);
  }
}

.sidebar {
  padding: 11px 33px;
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  background-color: var(--color-primary);
  color: var(--color-background);

  &:disabled {
    background-color: var(--color-disabled);
  }

  &:is(:hover, :active):not(:disabled) {
    background-color: var(--color-background);

    color: var(--color-secondary);
  }
}

.flat {
  display: flex;
  align-items: center;
  color: var(--color-disabled);

  &:is(:hover, :active):not(:disabled) {
    color: var(--color-primary);
  }
}

.inversed {
  background-color: var(--color-background);
  color: var(--color-primary);

  &:disabled {
    border-color: var(--color-disabled);
  }

  &:is(:hover, :active):not(:disabled) {
    background-color: var(--color-primary);

    color: var(--color-background);
  }
}

.hoverDark {
  &:hover,
  &:active {
    background-color: var(--color-primary-dark-accent);
    border-color: var(--color-primary-dark-accent);
    color: var(--color-background);
  }
}

.widthMax {
  width: 100%;
  margin: 0 auto;
}
