.questionListSection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 238px;
  height: fit-content;
  max-height: 437px;

  padding: 21px 18px;

  background-color: #454868;
  border-radius: 10px;

  color: #FFFFFF;

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  ol {
    height: min-content;
    margin: 21px 0;
    overflow-y: scroll;
  
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background: #FAF9FF;
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #010851;
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #A38FFD;
    }
  }

  li {
    list-style: decimal inside;
    margin-bottom: 13px;
  }
}

.selectQuestionButton {
  max-width: 180px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
