.questionListSection {  
  box-sizing: border-box;
  width: 238px;
  height: fit-content;

  padding: 21px 18px;

  background-color: #454868;
  border-radius: 10px;

  color: #FFFFFF;

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  ol {
    margin: 21px 0;
  }

  li {
    list-style: decimal inside;
    margin-bottom: 13px;
  }
}

.selectQuestionButton {
  max-width: 180px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
