.table {
  width: 100%;
  margin-bottom: 60px;

  color: var(--color-text-primary);

  border-spacing: 0;

  text-align: center;
  font-size: 16px;
  line-height: 20px;

  tr {
    box-sizing: border-box;
    height: 60px;

    td {
      &:first-of-type {
        border-left: 1px solid var(--color-grey);
      }

      &:last-of-type {
        border-right: 1px solid var(--color-grey);
      }
    }

    &:last-of-type {
      td {
        &:first-of-type {
          border-bottom-left-radius: 12px;
        }

        &:last-of-type {
          border-bottom-right-radius: 12px;
        }
      }
    }
  }

  td,
  th {
    box-sizing: border-box;
    padding: 10px 20px;
    vertical-align: middle;
    border-bottom: 1px solid var(--color-grey);
  }

  tbody {
    tr:nth-of-type(2n - 1) {
      background-color: var(--color-background-secondary);
    }
  }

  .headerRow {
    color: var(--color-secondary);
    font-weight: 600;

    th {
      border-top: 1px solid var(--color-grey);

      &:first-of-type {
        border-top-left-radius: 12px;
        border-left: 1px solid var(--color-grey);
      }

      &:last-of-type {
        border-top-right-radius: 12px;
        border-right: 1px solid var(--color-grey);
      }
    }
  }

  .userLinkCell {
    padding: 10px 20px;
  }

  .userLink {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}
