.userBlock {
  position: relative;
  display: flex;
  height: 41px;

  img {
    height: 37px;
    width: 37px;

    margin-right: 10px;

    background: #FCFCFC url(./img/avatar-placeholder.svg) no-repeat center;
    border: 1px solid #BCBCC3;
    border-radius: 10px;
  }

  button {
    font-weight: 400;
    font-size: 18px;
    line-height: 41px;
    letter-spacing: 0.05em;

    color: #454868;
  }
}

.userMenu {
  box-sizing: border-box;

  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  height: 161px;
  
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  li {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-top: 8px;
  }

  a, 
  button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;

    &:hover {
      color: #A38FFD;
    }
  }
}
