$color-base: #454868;
$color-light: #ffffff;

.paleButton {
  height: 35px;
  padding: 9px 35px;

  border: 1px solid rgba(69, 72, 104, 0.2);
  border-radius: 15px;

  transition:
    color 0.2s ease-out,
    background-color 0.2s ease-out;

  line-height: 15px;
  letter-spacing: 0.05em;

  &:hover {
    background: $color-base;

    color: $color-light;
  }
}
