.userMenu {
  box-sizing: border-box;

  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  height: 192px;
  
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
  animation: ld-float-ttb-in 0.5s 1 ease-in; animation-fill-mode: forwards;transform: matrix(1,0,0,1,0,-14.925);opacity: 0.005; 

  li {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-top: 8px;
  }

  a, 
  button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;

    &:hover {
      color: #A38FFD;
    }
  }
}

@keyframes ld-float-ttb-in
{
  0% {
    animation-timing-function: cubic-bezier(0.2242,0.7499,0.3142,0.8148);
    transform: translate(0%,-14.925%);
    opacity: 0.005;
  }
  100% {
    transform: translate(0%,0%);
    opacity: 1;
  }
}
