.visibilityButton {
  display: inline-block;
  height: 19px;
  width: 19px;

  margin-left: 11px;
}

.visibilityIcon {
  display: block;
  height: 100%;
  width: 100%;

  background: url('./img/unpublished.svg') no-repeat center;

  &:has(+ input:checked) {
    background-image: url('./img/published.svg');
  }
}
