@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  flex-grow: 1;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.error__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 46px;
  line-height: 130%;
  color: #010851;
}

.error__description {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  color: #000000;
}

.error__buttons {
  display: flex;
  gap: 20px;
}

.button {
  display: inline-block;
  border: 2px solid #a38ffd;
  min-width: 188px;
  height: 48px;
  padding: 13px 38px;
  cursor: pointer;
  text-align: center;
  background-color: #a38ffd;
  border-radius: 15px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.button:hover {
  background-color: #ffffff;
  border: 2px solid #a38ffd;
  color: #a38ffd;
}

.button.inversed {
  background-color: #ffffff;
  border: 2px solid #a38ffd;
  color: #a38ffd;
}

button:hover.inversed {
  background-color: #a38ffd;
  border: 2px solid #a38ffd;
  color: #ffffff;
}
