.formWrapper {
  box-sizing: border-box;
  width: 992px;
  padding-right: 21px;
}

.questionContainer {
  display: flex;
  gap: 25px;
  margin-bottom: 26px;
}

.controls {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.plusButton {
  padding: 9px 25px;
  font-family: serif;
  font-size: 28px;
  line-height: 19px;
}

.generateAnswersForm {
  display: flex;

  button {
    margin-left: 30px;
    padding: 9px 20px;
    border: 2px solid #a38ffd;

    border-radius: 5px 0 0 5px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    &:hover {
      background: #ffffff;

      color: #a38ffd;
    }
  }

  input {
    box-sizing: border-box;
    text-align: center;
    width: 42px;
    padding: 0;
    border: 2px solid #a38ffd;
    border-left: none;

    border-radius: 0 5px 5px 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #a6a6a6;
  }
}

.questionControls {
  display: flex;

  .saveButton {
    margin-left: 35px;
  }

  .deleteButton {
    margin-left: 25px;

    &:is(:hover, :active):not(:disabled) {
      color: var(--color-red);
    }
  }
}
