.pageMain {
  margin: 0 auto;
  min-width: 1366px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #222222;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    box-sizing: border-box;
    width: 292px;
    height: 51px;
    margin-bottom: 10px;
    padding: 16px 11px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    border: 1px solid #D8D8D8;
    border-radius: 5px;

    &::placeholder {
      font-family: 'Inter';
      color: #A5A5A5;
    }
  }

  button {
    display: block;
    margin: 0 auto;
    width: 292px;
    height: 42px;
    margin-top: 20px;

    background: #A38FFD;
    border-radius: 5px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    transition: all 0.2s ease-in-out;

    &:hover {
      background: #8C7BD8;
    }
  }
}